<div class="toc-container">
  <div class="toc-trigger" (mouseenter)="showToC.set(true)" (mouseleave)="showToC.set(false)">
    <p-button
      icon="pi pi-list"
      [text]="true"
      [rounded]="true"
      size="large"
      severity="secondary"
      class="toc-button"
      ariaLabel="Table of Contents"
      pTooltip="Table of Contents"
      tooltipPosition="left"
    />

    <div
      class="toc-popover"
      [class.visible]="showToC()"
      (mouseenter)="showToC.set(true)"
      (mouseleave)="showToC.set(false)"
    >
      @if (headings().length > 0) {
        <nav class="toc-nav" role="navigation" aria-label="Table of contents">
          @for (heading of headings(); track heading.id) {
            <a
              [href]="'#' + heading.id"
              [class]="'toc-item level-' + heading.level"
              [class.active]="activeHeadingId() === heading.id"
              (click)="navigateToHeading($event, heading.id)"
            >
              {{ heading.text }}
            </a>
          }
        </nav>
      } @else {
        <div class="no-headings">
          <p>No headings found</p>
        </div>
      }
    </div>
  </div>
</div>
